* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}

li {
  margin-left: 50px;
}

body {
  background-color: #111827;
  color: #fff;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
}

a {
  color: #f15d9f;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
