section {
  width: 100%;
  max-width: 800px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5em;
}

#coin {
  height: 150px;
  width: 150px;
  position: relative;
  margin: 0;
  transform-style: preserve-3d;
  cursor: pointer;
}

.tails {
  transform: rotateX(180deg);
}

.heads,
.tails {
  position: absolute;
  backface-visibility: hidden;
  height: 150px;
  width: 150px;
  background-color: #ffcf3b;
  border-radius: 50%;
  display: inline-block;
}

.internal {
  height: 110px;
  width: 110px;
  margin: 20px;
  background-color: #d89300;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  font-size: 42px;
  font-weight: 800;
  color: #ffcf3b;
}

@keyframes flip {
  0% {
    -ms-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  100% {
    -ms-transform: rotateX(5400deg);
    -moz-transform: rotateX(5400deg);
    -webkit-transform: rotateX(5400deg);
    -o-transform: rotateX(54000deg);
    transform: rotateX(5400deg);
  }
}

@keyframes flip-tails {
  0% {
    -ms-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  100% {
    -ms-transform: rotateX(180deg);
    -moz-transform: rotateX(900deg);
    -webkit-transform: rotateX(900deg);
    -o-transform: rotateX(900deg);
    transform: rotateX(900deg);
  }
}

#coin.flipping {
  animation: flip 5s cubic-bezier(0.1, 0, 1, 1);
}

.flipped-heads {
  -ms-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

.flipped-tails {
  -ms-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

#diagram {
  width: 400px;
  height: 200px;
  border: 1px solid white;
}

#qubit-dot {
  height: 20px;
  width: 20px;
  background-color: #fff;
  border-radius: 50%;
  margin-bottom: 5px;
}

#qubit {
  font-weight: 800;
  font-size: 20px;
}

@keyframes slideright {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(400px);
  }
}

#qubit.animating {
  animation: slideright 6s linear;
}

#qubit.flipped-heads,
#qubit.flipped-tails {
  transform: translateX(400px);
}

#qubit-text {
  position: relative;
}

.flipping #qubit-text {
  transition: transform 1s ease-in-out;
  transform: translateX(-58px);
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#qubit-text-0,
#qubit-text-1 {
  display: inline-block;
}

#qubit-text-1 {
  position: absolute;
  left: 0;
}

.flipping #qubit-text-0 {
  animation: fadein 1s linear;
}

.flipping #qubit-text-1 {
  transition: transform 1s ease-in-out;
  transform: translateX(110px);
}
