#header {
  position: fixed;
  top: 0;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media only screen and (max-width: 1100px) {
  #header {
    position: absolute;
  }
}

#github-logo {
  height: 30px;
  width: 30px;
}

section {
  padding: 0px 40px;
  max-width: 800px;
}

#coin-toss {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5em;
}

#coin {
  height: 150px;
  width: 150px;
  position: relative;
  margin: 0;
  transform-style: preserve-3d;
  cursor: pointer;
}

.heads {
  transform: rotateX(180deg);
}

.heads,
.tails {
  position: absolute;
  backface-visibility: hidden;
  height: 150px;
  width: 150px;
  background-color: #ffcf3b;
  border-radius: 50%;
  display: inline-block;
}

.internal {
  height: 110px;
  width: 110px;
  margin: 20px;
  background-color: #d89300;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  font-size: 42px;
  font-weight: 800;
  color: #ffcf3b;
}

@keyframes flip {
  0% {
    -ms-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  100% {
    -ms-transform: rotateX(7200deg);
    -moz-transform: rotateX(7200deg);
    -webkit-transform: rotateX(7200deg);
    -o-transform: rotateX(7200deg);
    transform: rotateX(7200deg);
  }
}

@keyframes hover {
  0% {
    -ms-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }

  50% {
    -ms-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    -ms-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
}

#coin.animating {
  animation: hover 1.5s ease-in-out infinite;
}

#coin.flipping {
  animation: flip 4s ease-in-out;
}

#coin.flipped-heads {
  -ms-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

#coin.flipped-tails {
  -ms-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

#diagram {
  width: 300px;
  height: 100px;
  position: relative;
  margin: 30px 0;
}

#qubit-dot {
  height: 20px;
  width: 20px;
  background-color: rgb(228, 231, 237);
  border-radius: 50%;
  margin-bottom: 5px;
  z-index: 1;
  margin-right: 10px;
}

#qubit {
  font-size: 20px;
  position: absolute;
  left: -10px;
  width: 100%;
}

@keyframes slideright {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(275px);
  }
}

#qubit.animating {
  animation: slideright 6s linear;
}

#qubit.flipped-heads,
#qubit.flipped-tails {
  transform: translateX(275px);
}

#qubit-text {
  position: relative;
  margin-top: 20px;
}

#qubit-text div {
  display: inline-block;
  opacity: 0;
  transition: opacity 0.5s ease-in-out, transform 0.75s ease-in-out;
  position: absolute;
  left: 0;
}

.animating #qubit-text-0 {
  opacity: 1;
}

.flipping #qubit-text-root2-0,
.flipping #qubit-text-plus,
.flipping #qubit-text-root2-1,
.flipping #qubit-text-1 {
  opacity: 1;
}

.flipping #qubit-text-root2-0 {
  transform: translateX(-52px);
}

.flipping #qubit-text-0 {
  transform: translateX(-29px);
}

.flipping #qubit-text-plus {
  transform: translateX(3px);
}

.flipping #qubit-text-root2-1 {
  transform: translateX(20px);
}

.flipping #qubit-text-1 {
  transform: translateX(43px);
}

.flipped-heads #qubit-text-1 {
  opacity: 1;
}
.flipped-tails #qubit-text-0 {
  opacity: 1;
}

#hadamard {
  position: absolute;
  left: calc(50% - 26px);
  font-size: 24px;
  border: 2px solid rgb(228, 231, 237);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -12px;
  background-color: #111827;
  z-index: 2;
  font-weight: 800;
}

#diagram hr {
  position: absolute;
  top: 10px;
  width: 100%;
  z-index: -1;
}

#measurement {
  width: 50px;
  position: absolute;
  top: -7px;
  left: calc(100% - 50px);
  background-color: #111827;
}

h3 {
  font-weight: 400;
  font-size: 20px;
  margin: 30px 0;
  text-align: center;
  width: 100%;
}

#whats-going-on {
  position: absolute;
  bottom: 20px;
  margin-bottom: 0;
}

p {
  margin-bottom: 20px;
}

@keyframes caret {
  0% {
    transform: translateY(0px);
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  80% {
    transform: translateY(16px);
    opacity: 0;
  }
  100% {
    transform: translateY(16px);
    opacity: 0;
  }
}

#caret {
  width: 40px;
  height: 30px;
  filter: invert(100%);
  position: absolute;
  bottom: 60px;
  animation: caret 2s infinite;
}

#explanation {
  line-height: 1.5;
  margin-top: 30px;
  margin-bottom: 30px;
}

#flipped-text-heads,
#flipped-text-tails {
  position: absolute;
  font-size: 42px;
  top: calc(50% - 250px);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

#flipped-text-heads.flipped-heads {
  opacity: 1;
}

#flipped-text-tails.flipped-tails {
  opacity: 1;
}

#explanation img {
  vertical-align: middle;
}

#qubit-text-root2-0,
#qubit-text-root2-1 {
  top: -5px;
}

#qubit-text-root2-0 img,
#qubit-text-root2-1 img {
  width: 22px;
}

.footnotes {
  margin-top: 80px;
  font-size: 12px;
}

.section-title .hover-hashtag {
  opacity: 0;
  cursor: pointer;
  position: absolute;
  display: inline;
}

.section-title svg {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.section-title:hover .hover-hashtag {
  opacity: 0.7;
  transition: opacity 0.2s;
}
